In [25]:
import pandas as pd

file_name = "sample_xlsx_file/sample-receivable-utf-8(BOMなし).csv"
sample_data = pd.read_csv(file_name,encoding="UTF-8",header = 0,thousands=',')

sample_data

          会社名       金額列
0    株式会社0001  14980000
1    株式会社0002  19030000
2    株式会社0003  10530000
3    株式会社0004  19770000
4    株式会社0005   8210000
..        ...       ...
295  株式会社0296    200000
296  株式会社0297     60000
297  株式会社0298    360000
298  株式会社0299    230000
299  株式会社0300     90000

[300 rows x 2 columns]

In [24]:
total_amount = sample_data["金額列"]
total_amount = total_amount.str.replace(',', '').astype(float)
total_amount.sum()

760890000.0